* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 66.5%;
}
html {
    color: rgb(8, 4, 23);
    
}

body {
    background-image: url("img/Background_img.jpg");
    background-size: cover;
    background-color: aliceblue;
    background-repeat: no-repeat;
    
  
 
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    }
    h1   {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-transform: capitalize;
        font-family:'Courier New', Courier, monospace;
        font-style: oblique;
        color:rgb(9, 51, 52);
        font-weight: bold;

    }
    h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style:italic;
        font-variant: small-caps;
        font-weight: bold;
    }
    a {
        text-decoration: none;
        padding: 5px 10px;
        font-variant: small-caps;
        float:left;
    }
    a:hover {
        background-color: burlywood;

    }
    header {
        width: 210px;
    }
    section.top {  
        background-color: rgb(210, 210, 210, 0.7); 
        text-align:justify;
        text-indent: 5%;
        margin-left: auto;
        margin-right: auto;
        max-width: 215px;
        border-style:double;
        border-width:thick;
        border-color: cadetblue;
        padding: 1em 3em 1em 3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        order: 1;

    }
    section.mid {
        background-color: rgb(210, 210, 210, 0.7); 
        text-align:justify;
        text-indent: 5%;
        margin-left: auto;
        margin-right: auto;
        max-width: 215px;
        border-style:double;
        border-width:thick;
        border-color: cadetblue;
        padding: 1em 3em 1em 3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        order:2;

    }
    section.bottom {
        background-color: rgb(210, 210, 210, 0.7); 
        text-align:justify;
        text-indent: 5%;
        margin-left: auto;
        margin-right: auto;
        max-width: 215px;
        border-style:double;
        border-width:thick;
        border-color: cadetblue;
        padding: 1em 3em 1em 3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        order:3;
    }
    form.search {
        max-width: 210px;
        font-size: 10px;
        background-image: url("img/search.png");
        background-size: 10px;
        background-position: 25px 20px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
    }
    section.form {
        margin-left: auto;
        margin-right: auto;
        max-width: 210px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        border-style:solid;
        border-width:2px;
        border-color:crimson;
        background-color: rgba(154, 124, 139, 0.5);
        
    }
    table.table_programming_lang {
        margin: auto;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
       
       
    }
    table.table_programming_lang th {
        border-style:outset;
        padding: 5px;
        border-color: coral;
        background-color:cornflowerblue;
    
    }
    
    table.table_programming_lang td {
        border-style: groove;
        border-color:azure;
        text-align: center;
        background-color:darkcyan
    }
    table.table_programming_lang th:hover {
        background-color:crimson;
        font-style: oblique;
    }
    table.table_programming_lang td:hover {
        background-color:chartreuse;
        font-style: oblique;
    }
      table#contact td:hover {
          background-color:blanchedalmond;
      }
      code {
          background-color: rgb(15, 2, 2);
          color: rgb(186, 186, 186);
          font-size: 0.5rem;
      }
      th,
      td {
          font-size: 0.8rem;
      }
      img {
        width:10px;
        height:10px;
        
    }
    .contact {
          
            background-color: rgb(210, 210, 210, 0.9); 
            text-align:justify;
            font-size:1rem;
            margin-left: auto;
            margin-right: auto;
            max-width: 255px;
            padding: 1em 3em 1em 3em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          
    
    }
    .skills {
        background-color:rgb(210, 210, 210, 0.7); 
        margin:2rem;
    }
    .skills>ul {
        list-style: none;
        padding: 1rem;;
    }

footer {
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}
@media screen and (min-width: 480px) {

html {
    color: rgb(21, 6, 72);
    
    
}

    h1   {
      
        font-size: 1rem;
        font-weight:bolder

    }
    h2 {
        font-size: 1rem;
        
    }
    i, 
    b,
    p,
    strong,
    summary,
    abbr,
    cite {
        font-size: 1rem;
    }
    a {
        font-size: 0.8rem;
        padding: 5px 3px;
        border-style: ridge;
        border-color: chocolate;
        border-top: black;
        border-left: black;
        border-right: black;
        float:left;
    }
    a:hover {
        background-color: burlywood;
        border-color: chartreuse;

    }
    header {
        width: 310px;
    }
    section.top {  
       font-size: 1.3rem;
        max-width: 365px;
        padding:0.5rem;
        order: 1;

    }
    section.mid {
        font-size: 1.3rem;
        max-width: 365px;
        padding:0.5rem;
        order:2;

    }
    section.bottom {
        font-size: 1.3rem;
        max-width: 365px;
        padding:0.5rem;
        order:3;
    }
    form.search {
   
        font-size: 15px;
        background-size: 10px;
        background-position: 25px 30px; 
       
    }
    section.form {
      max-width: 320px;
        
    }
    table.table_programming_lang {
      position: relative;
      margin: auto;
      width: 350px;
       
    }
    .contact {
          
        background-color: rgb(210, 210, 210, 0.9); 
        text-align:justify;
        font-size:1rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 455px;
        padding: 1em 3em 1em 3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      

}
 
    
    .skills {
        margin: auto;
       max-width: 300px;
       font-size: 2rem;
    }
    
footer {
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}
}

@media screen and (min-width: 620px) {

    html {
        color: rgb(21, 6, 72);
        
        
    }
    
        h1   {
          
            font-size: 1.5rem;
            font-weight:bolder
    
        }
        h2 {
            font-size: 1.5rem;
            
        }
        i, 
        b,
        p,
        strong,
        summary,
        abbr,
        cite,
        li {
            font-size: 1rem;
        }
        a {
            font-size: 0.8rem;
            padding: 5px 3px;
            border-style: ridge;
            border-color: rgb(177, 30, 210);
            border-top: black;
            border-left: black;
            border-right: black;
            float:left;
        }
        a:hover {
            background-color: burlywood;
            border-color: rgb(101, 123, 78);
    
        }
        header {
            width: 410px;
        }
        section.top {  
           font-size: 1.3rem;
            max-width: 465px;
            padding:0.7rem;
            order: 1;
    
        }
        section.mid {
            font-size: 1.3rem;
            max-width: 465px;
            padding:0.7rem;
            order:2;
    
        }
        section.bottom {
            font-size: 1.3rem;
            max-width: 465px;
            padding:0.7rem;
            order:3;
        }
        form.search {
       
            font-size: 20px;
            background-size: 15px;
            background-position: 25px 28px; 
           
        }
        section.form {
          max-width: 500px;
          font-size: 2rem;
            
        }
        table.table_programming_lang {
          position: relative;
          margin: auto;
          width: 450px;
          color: blanchedalmond;
           
        }
        th,
        td {
            font-size: 0.9rem;
        }
        
        .skills {
            margin: auto;
           max-width: 450px;
           font-size: 2rem;
        }
        code {
            font-size: 1rem;
        }
       
        
    footer {
     text-align: center;
     margin-left: auto;
     margin-right: auto;
    }
    }
    @media screen and (min-width: 850px) {

        html {
            color: rgb(21, 6, 72);         
        }
        
            h1   {
              
                font-size: 1.7rem;
                font-weight:bolder
            }
            h2 {
                font-size: 1.7rem;  
            }
            i, 
            b,
            p,
            strong,
            summary,
            abbr,
            cite,
            li {
                font-size: 1.2rem;
            }
            a {
                font-size: 1.5rem;
                padding: 5px 13px;
                border-style: ridge;
                border-color: rgb(75, 140, 42);
                border-top: black;
                border-left: black;
                border-right: black;
                float:left;
            }
            a:hover {
                background-color: burlywood;
                border-color: rgb(21, 212, 233);
        
            }
            header {
                width: 710px;
            }
            section.top {  
               font-size: 1.4rem;
                max-width: 665px;
                padding:0.8rem;
                order: 1;
        
            }
            section.mid {
                font-size: 1.4rem;
                max-width: 665px;
                padding:0.8rem;
                order:2;
        
            }
            section.bottom {
                font-size: 1.4rem;
                max-width: 665px;
                padding:0.8rem;
                order:3;
            }
            form.search {
           
                font-size: 25px;
                background-size: 20px;
                background-position: 20px 35px; 
               
            }
            section.form {
              max-width: 600px;
              font-size: 2.3rem;
                
            }
            table.table_programming_lang {
              position: relative;
              margin: auto;
              width: 650px;
              color: blanchedalmond; 
            }
            th,
            td {
                font-size: 1.2rem;
            }
            
            .skills {
                margin: auto;
               max-width: 650px;
               font-size: 2rem;
            }
            code {
                font-size: 1rem;
            }
           
            
        footer {
         text-align: center;
         margin-left: auto;
         margin-right: auto;
        }
        }
