* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
background-color: #2875f9;
}
footer h3 {
    font-size: 2.5rem;
    font-weight:550;
    text-align: center;
    color:white;
    padding-top: 1rem;
    
}
.facebook-square, .linkedin-square, .twitter-square, .youtube-play {
  
    filter: invert(1);
    padding: 1rem;
}
.icons {
    display: block;
    text-align: center;
    padding: 2rem;
}
nav {
    border-style: solid ;
 border-color:  #2670f5;
  display: flex;
  flex-direction:row;
  justify-content:space-evenly;
  /* align-content: center; */

}
h4 {
    font-size: 2.3rem;
    line-height: 5rem;
}
.nav_list {
    color:#cdedfd;
    width:fit-content;
    font-size: 2rem;
    line-height: 2rem;
    text-transform: capitalize ;
    list-style-type:none;
    text-align: center;
    padding-bottom: 2rem;
    text-decoration: none;
}
.copyright  {
    
    font-size: 2rem;
    text-align: center;
    color:white;
    padding-top: 1rem;
}
.copyright i {
font-style: normal;
}
