
body {
background-image: url("Website_background_1.jpg");
background-size:cover;
}
h1 {
    font-size: 40px;
    font-family: cursive;
  color: aqua;
    position: fixed;
    left:30%;
    Top: 5%;
}
h2 {
    font-size: 20px;
    color: purple;
    position: fixed;
    left: 2%;
}
h3 {
    font-size: 20px;
    text-align: center;

}
ul.Menu {
    font-family: cursive;
font-size: 20px}
section {
    font-size: 20px;
    color:rgb(209, 208, 221);
    position: fixed;
    left: 15%;
    top: 20%;}
    section.sign_up {
        font-size: 50px;
        color:rgb(209, 208, 221);
        position: fixed;
        left: 15%;
        top: 20%;
    }
center {
  font-size: 20px;
}
article {
font-size: 15px;
    color:rgb(8, 5, 36);
    position: fixed;
    left: 15%;
    top: 60%;
}
table {
position: fixed;
    left: 60%;
    top: 60%;
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 30%;}
table td, table th {
border: 1px solid rgb(60, 7, 7);
padding: 8px;}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color:rgb(116, 96, 96);}
table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #290d52;
color: white;}
footer{
    position:absolute;
    color: aliceblue;
   bottom:0;
   text-align:center;
   width:100%;
   height:60px;  
 }
