* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10%;
}
.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%
    
 
}
.column {
    float: left;
    width: 15%;
    margin: 2%;
    
}
.colum:after{
    content: "";
    display: block;
    clear: both;
}
.image {
    display: block;
    margin: auto;
    width: 50%;
    filter: invert(1);
}
.green {
    position:relative;
    background-color:rgba(112,192,201,255);
    padding: 15% 0% 15% 0%;
    border-radius: 5%;
    
}
#no1:after {
    position: absolute;
    content: "1";
    font-size: small;
    border:solid;
    color: rgba(112,192,201,255);;
    border-radius: 50%;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    border-color:rgba(112,192,201,255);
    z-index:1;
    background-color: white;
    top:-10%;
    left:-7%;
}
.blue {
    position:relative;
    background-color:rgba(64,116,189,255);
    padding: 15% 0% 15% 0%;
    border-radius: 5%;
}
#no2:after {
    position: absolute;
    content: "2";
    font-size: small;
    border:solid;
    color: rgba(64,116,189,255);;
    border-radius: 50%;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    border-color:rgba(64,116,189,255);
    z-index:1;
    background-color: white;
    top:-10%;
    left:-7%;
}
.red {
    position:relative;
    background-color:rgba(224,94,70,255);
    padding: 15% 0% 15% 0%;
    border-radius: 5%;
}
#no3:after {
    position: absolute;
    content: "3";
    font-size: small;
    border:solid;
    color: rgba(224,94,70,255);
    border-radius: 50%;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    border-color:rgba(224,94,70,255);
    z-index:1;
    background-color: white;
    top:-10%;
    left:-7%;
}
.brown {
    position:relative;
    background-color: rgba(145,145,145,255);
    padding: 15% 0% 15% 0%;
    border-radius: 5%;
}
#no4:after {
    position: absolute;
    content: "4";
    font-size: small;
    border:solid;
    color: rgba(145,145,145,255);;
    border-radius: 50%;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    border-color:rgba(145,145,145,255);
    z-index:1;
    background-color: white;
    top:-10%;
    left:-7%;
}
h3  {
    text-align: center;
    vertical-align: middle;
    color: #e15e4e;
    font-weight: bold;
    font-size: 1rem;
}
p {
    text-align: center;
    vertical-align: middle;
    color: #a0a0a0;
    font-size: 0.7rem;
}
