
        * {
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        body {
            background-color:HEX #ffffff;
            margin: 20% 20% 20% 20%;
        }

        section { text-align: center;     
        }

        #no_1 {
            width:150px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color:rgb(112,192,201);
            position:absolute;
            left: 20%;
            top: 30%;     
        }
        #no_2 {
            width:150px;
            padding-top: 30px;
            padding-bottom: 37px;
            background-color:rgb(64,116,189);
            position:absolute;
            left: 35%;
            top: 30%;

        }
        #no_3 {
            width:150px;
            padding-top: 30px;
            padding-bottom: 45px;
            background-color:rgb(224,94,70);
            position:absolute;
            left:50%;
            top: 30%;

        }
        #no_4 {
            width:150px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color:rgb(145,145,145);
            position:absolute;
            left: 65%;
            top: 30%;

        }

        #h1 {
            text-align: center;
            text-transform: capitalize;
            color:rgb(242,187,180);
            font-size: 1rem;
            font-weight: bold;
            width:70px;
            position:absolute;
            left: 22%;
            top: 55%;

        }
        
        #h2 {
            text-align: center;
            text-transform: capitalize;
            color:rgb(242,187,180);
            font-size: 1rem;
            font-weight: bold;
            width:70px;
            position:absolute;
            left: 37%;
            top: 55%;
        }
        
        #h3 {
            text-align: center;
            text-transform: capitalize;
            color:rgb(242,187,180);
            font-size: 1rem;
            font-weight: bold;
            width:70px;
            position:absolute;
            left: 52%;
            top: 55%;
        }
        
        #h4 {
            text-align: center;
            text-transform: capitalize;
            color:rgb(242,187,180);
            font-size: 1rem;
            font-weight: bold;s
            width:70px;
            position:absolute;
            left: 67%;
            top: 55%;
        }

        #p1 {
            text-align: center;
            color:black;
            font-size: 0.7rem;
            width:130px;
            position:absolute;
            left: 22%;
            top: 65%;
        }
        #p2 {
            text-align: center;

            color:black;
            font-size: 0.7rem;
            width:130px;
            position:absolute;
            left: 35%;
            top: 65%;
        }
        #p3 {
            text-align: center;
            color:black;
            font-size: 0.7rem;
            width:130px;
            position:absolute;
            left: 50%;
            top: 65%;
        }
        #p4 {
            text-align: center;
        
            color:black;
            font-size: 0.7rem;
            width:130px;
            position:absolute;
            left: 65%;
            top: 65%;
        }
       
